<h2 class="text-info">Pages#one</h2>
<p>Find me in app/views/pages/one.html.erb</p>

<h1>Javier COlihuinca :v</h1>


<%= image_tag 'meme-02.jpg', alt: 'meme pacman', class: 'rounded mx-auto d-block img-fluid' %>
