<h2 class="text-info">Pages#three</h2>
<p>Find me in app/views/pages/three.html.erb</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ab nesciunt, voluptatem, earum maiores aliquam maxime aut eum incidunt eius enim in optio, reprehenderit eaque!</p>

<%= image_tag 'meme-01.jpg', alt: 'meme mono', class: 'rounded mx-auto d-block img-fluid' %>