// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 1);
}