<!DOCTYPE html>
<html>
  <head>
    <title>Actividad21</title>
    <%= csrf_meta_tags %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">One</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= pages_two_path %>">Two</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= pages_three_path %>">Three</a>
          </li>
      </div>
    </nav>
    <!-- Fin Navbar -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
